/.vscode
/argument.c
/argument.h
/assignment.h
/be.c
/be.exe
/beforee.c
/classccc
/evaluate.c
/evaluate.h
/evaluate.o
/ex1.c
/ex1.exe
/ex1.zip
/ex2.c
/ex2.exe
/ex2.zip
/ex3.c
/ex3.exe
/ex3.zip
/ex4.c
/ex4.zip
/ex5.c
/ex5.zip
/exp.c
/exp.h
/lab.c
/main.c
/p2
/practice
/prod.c
/prod.h
/quorem.c
/quorem.h
/rem.h
/sum.c
/sum.h
/test2.c
/testc.c